# =========================
# ENV / SECRETS
# =========================
.env
*.env
!template.env
profiles.yml
airbyte_configs/**/secrets.*
*.key
*.pem

# =========================
# DBT (IMPORTANT)
# =========================
data_transformation/target/
data_transformation/logs/
# data_transformation/dbt_packages/  # COMMENT OUT - need to commit for serverless
data_transformation/.user.yml

# optional local dbt artifacts
*.log
partial_parse.msgpack
manifest.json
run_results.json

# =========================
# DAGSTER
# =========================
*.db
*.sqlite
__pycache__/
*.pyc

# =========================
# AIRBYTE
# =========================
airbyte_configs/**/credentials.json
airbyte_configs/**/secrets.json

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.venv/
venv/

# Python package build artifacts
*.egg-info/
dist/
build/